@import "../../styles/variables";
@import "../../styles/mixins";


.news-feed-post-container {
  padding: 45px 45px 45px 45px;
    position: relative;
    min-width: 720px;
  width: 70%;

  .news-feed-posts-images-posts {
    display: flex;
    margin: 20px 12px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    a {
      margin-right: 55px;
      font-weight: 300;
      color: gray;
    }
    .bold {
      color: black;
      font-weight: 500;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin-left: 20px;
    margin-top: 30px;
  }
  .news-feed-post-images {
   

}
}