@import "../../styles/variables";
@import "../../styles/mixins";


.news-feed-post-container {
  padding: 45px 15px 45px 15px;
    position: relative;
    width: 65%;
  min-width: 595px;

  .news-feed-posts-images {
    display: flex;
    margin: 25px 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    a {
      margin-right: 55px;
      font-weight: 300;
      color: gray;
      font-size: 1.8rem;
    }
    .bold {
      color: black;
      font-weight: 500;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin-left: 20px;
    margin-top: 30px;
  }
 
}