@import "../../styles/variables";
@import "../../styles/mixins";

.side-bar-right{
    width: 24%;
    min-width: 375px;
    background: #F2F3F7;
    display:flex;
    margin-top:130px;
    border-radius:6px;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 2%;
    a{
        margin: 65px 5px 0px 65px;
    }
}