@import "../../styles/variables";
@import "../../styles/mixins";

.side-bar-right{
    
    min-width: 320px;
    max-width: 320px;
    background: #F2F3F7;
    display: none;
        margin-top:130px;
    border-radius:6px;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 2%;
    padding: 0;
    a{
        margin: 65px 5px 0px 65px;
    }
}