@import "../../styles/variables";
@import "../../styles/mixins";

.popular-hashtags{
    width:94%;
    background:white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:40px;
    border-radius:6px;

    .popular-hashtags-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 86%;
        margin: 0 auto;
        align-items: center;
       margin-top: 14px;

        .popular-hashtags-hashtag{
            width: 30%;
            background: rgb(147, 147, 147);
            border-radius: 4px;
            margin-top: 0px;
            margin-bottom: 14px;
            padding: 12px 8px;
            &:hover{
                cursor: pointer;
            }

            p{
                color: $snow-white;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
}