@import "../../../styles/variables";
@import "../../../styles/mixins";

.double-image{
    display: flex;
    width: 100%;
    padding: 1%;
    margin: 0 auto;

    img{
        width: 48%;
        margin: 1%;
   }
}