@import "../../../styles/variables";
@import "../../../styles/mixins";

.double-image{
    display: flex;
    width: 100%;
    padding: 2px 1.5%;
    margin: 0 auto;

    img{
        width: 49%;
        margin: .5%;
        height: 17vw;
        max-height: 220px;
   }
}