@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 71vh;
  background: linear-gradient( to right,
    rgba(16, 21, 154, 0.544) 48%, 
    rgba(7, 7, 143, 0.241)
  ),url("/static/HousesHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: -100px auto 0 auto;

  .header-content{
    margin: 0 auto 0 9%;
  // align-items: center;
  h1 {
    font-size: 6.2rem;
    color: $white;
    margin-bottom: 2rem;
    font-weight: 600;
    margin-top: 50px;
    span{
        color: $orange;
    }
  }
  h2 {
    font-size: 3.9rem;
    color: $white;
    margin-bottom: 3rem;
    font-weight: 500;
  }
  input{
    margin-left: 100px;
      width: 350px;
      margin-bottom: 1.2rem;
      height: 1.8rem;
  }
  button {
    border: none;

    width: 313px;
    border-radius: 10px;
    color: $white;
    background: $orange;
    margin-right: 10px;
    padding: 22px 30px;
    font-size: 2.5rem;
    font-weight: 500;
  }
  button:hover {
    cursor: pointer;
  }
}
}
