@import "../../styles/variables";
@import "../../styles/mixins";

.mini-post-card {
    width: 100%;
    background: white;
    border-bottom: 2px solid rgb(199, 199, 199);

    .mini-post-content {
      background: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .mini-post-title {
        display: flex;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
          }

        .mini-post-user-avatar {
          border-radius: 40px;
          margin: 20px 15px 20px 10px;

          &:hover {
            cursor: pointer;
          }
        }

        .mini-post-credentials {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          .mini-post-user-name {
            font-weight: 500;
            font-size: 1.6rem;
          }
          .mini-post-time {
            color: rgb(177, 177, 177);
            font-weight: 300;
            font-size: 1.6rem;
          }
        }
      }

      img{
          width:100%;
      }

      .mini-post-word-content {
        color: rgb(75, 75, 75);
        font-weight: 200;
        margin: 15px 25px;
        line-height: 1.5;
        font-size: 1.3rem;
        padding-bottom: 5px;
      }
    }
}