@import "../../styles/variables";
@import "../../styles/mixins";

.post {
    width: 100%;
    margin: 20px 0px 45px 12px;
    border-radius: 15px;
    position: relative;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .post-content {
      background: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .post-title {
        display: flex;
        margin-left: 10px;

        &:hover {
            cursor: pointer;
          }

        .post-user-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: black;
          margin: 20px 15px 20px 20px;

          &:hover {
            cursor: pointer;
          }
        }

        .post-credentials {
          display: flex;
          flex-direction: column;
          margin-top: 25px;

          .post-user-name {
            font-weight: 500;
          }
          .post-time {
            color: rgb(177, 177, 177);
            font-weight: 300;
          }
        }
      }

      .post-word-content {
        color: rgb(75, 75, 75);
        font-weight: 200;
        margin: 15px 35px 15px 35px;
        line-height: 1.6;
        font-size: 2.4rem;
      }
    }

    img {
      width: 100%;
      height: 340px;
      object-fit: cover;
      &:hover {
        cursor: pointer;
      }
    }

    .post-footer {
      .post-attributes {
        display: flex;
        margin-left: 20px;

        .post-likes {
          display: flex;

          .like-icon {
            width: 40px;
            height: 40px;
            margin: 26px 5px 10px 9px;
            padding-bottom: 5px;
            color: red;

            &:hover {
              cursor: pointer;
            }
          }
          .number-of-likes {
            margin: 33px 25px 10px 2px;
            font-weight: 500;
            font-family: "sofia-pro";
            font-size: 1.9rem;
          }
        }

        .post-comments {
          display: flex;

          .comments-icon {
            width: 40px;
            height: 40px;
            margin: 26px 5px 10px 25px;
            padding-bottom: 5px;
            color: black;

            &:hover {
              cursor: pointer;
            }
          }
          .number-of-comments {
            margin: 33px 25px 10px 5px;
            font-weight: 500;
            font-family: "sofia-pro";
            font-size: 1.9rem;
          }
        }
      }
    }
    .comment-section {
      display: flex;
      padding: 15px;
      margin-top: 15px;
      align-items: center;
      padding-bottom: 80px;
      // justify-content: space-between;

      .comment-author-avatar {
        width: 45px;
        min-width: 45px;
        height: 45px;
        border-radius: 22.5px;
        background: black;
        margin-left: 15px;
        margin-right: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .comment-author {
        font-weight: 500;
        color: black;
        font-size: 1.9rem;
          margin-right: 25px;
        &:hover {
          cursor: pointer;
        }
      }

      .comment {

          display: flex;
          align-items: center;

        .comment-content {
            
          font-weight: 300;
          color: gray;
          padding-right: 55px;
          font-size: 1.9rem;
      
        }

        .comment-reply{
          font-size: 1.7rem;
          font-weight: 400;
          color: rgb(58, 58, 58);
          margin-bottom: 10px;


          &:hover {
              cursor: pointer;
            }
        }

        .comment-heart{
            height: 23px;
            width: 23px;
            color: black;
            margin-left: 15px;
            margin-bottom: 8px;
            margin-right: 20px;
          color: red;
            &:hover {
              cursor: pointer;
            }
            
        }
    
      }
    }

    .comment-input {
      margin: 0!important;
      position: absolute;
      bottom: 0;
      border-radius: 0px!important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      overflow: hidden;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      // margin-top: 60px;
    }
  }