@import "../../styles/variables";
@import "../../styles/mixins";

.small-card-header{
    display:flex;
    align-items: center;
    border-bottom: 2px solid rgb(199, 199, 199);
    padding: 12px;
   

    .small-card-header-icon{
        margin-left: 20px;
        color: $purple;
        width: 20px;
        height: 20px;
    }
    .small-card-header-title{
        margin-left: 10px;
        font-size: 1.6rem;
        font-weight: 600;
    }
}