@import "../../styles/variables";
@import "../../styles/mixins";

.register-container{
    height: 100vh;
    width: 100%;
    background: linear-gradient( to right,
    rgba(16, 21, 154, 0.824) 48%, 
    rgba(7, 7, 143, 0.741)
  ),url("/static/HousesHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
}